{% extends "base_attendance.html" %}

{% block formcontent %}

<script>
require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox", "dijit/form/DateTextBox", "dojox/validate/web", "dijit/form/Textarea", "dijit/form/ComboBox", "dijit/form/CheckBox","dijit/form/Select",'dojox/grid/DataGrid','dojo/data/ItemFileWriteStore']);
</script>
</head>
<body class="claro">
	<div data-dojo-type="dijit/form/Form" id="attendanceForm" data-dojo-id="attendanceForm" encType="multipart/form-data" action= method="POST">
		{% csrf_token %}
		<script type="dojo/on" data-dojo-event="reset">
			return confirm('Press OK to reset widget values');
		</script>
		<script type="dojo/on" data-dojo-event="submit">
			dojo.stopEvent(event);
			if(this.validate()){
				
				//compose post args
				var xhrArgs = {
					url:"/attendance/addattendance",
					form: dojo.byId("attendanceForm"),
					handleAs: "text",
					load: function(data){ // server send back some good news
						alert(data);
					},
					error: function(error){
						alert(error);
 					}
				}
				//post data to server
				var deferred = dojo.xhrPost(xhrArgs);
			}
			else{
				alert('Form contains invalid data.  Please correct first');
				return false;
			}
			return true;
		</script>
		<script>
		function fillSlots()
		{
			require(["dijit/form/Select", "dojo/store/Memory",
						"dojo/json","dojo/domReady!"],
						function(Select, Memory, json){
							require(['dojo/_base/xhr',"dojo/dom-construct","dojo/dom","dojo/_base/lang","dijit/registry"], function(xhr,domConstruct,dom, lang,registry){
							xhr.get({
								url:"/attendance/getslots.json", handleAs:"text",
								content: {
									date: dojo.byId("added_date").value
								},
								load: function(data){
									
									var data= json.parse(data)
									var ref = registry.byId("slots");
									ref.removeOption(ref.getOptions());
									var count=0
									
									for (var key in data) {
											//var node = domConstruct.create("option", {value:data[key]['id'],label:data[key]['summary']});
											//domConstruct.place(node, ref);
											ref.addOption(lang.clone(data[key]));
											//alert(key + " -> " + data[key]['summary']);
											count=count+1;
 											
									}
									if(count==0)
									{
										ref.addOption(lang.clone({value: "0",label: "No slots available",selected: true }))
									}
									
									
							}
							});
					});
					
            // create store instance referencing data from states.json
           
        });
		}

		function fillStudents()
		{
			var myNewItem = {adm_no: "123", name: "Mahesh", status:"Present"};

        	stud_store.newItem(myNewItem);
        	
		}


		</script>


		<table style="border: 1px solid #9f9f9f;" cellspacing="10">
			<tr>
				<td>
					<label for="added_date">Added Date:</label>
				</td>
				<td>
					<input type="text" id="added_date" name="added_date" required="true" data-dojo-type="dijit/form/DateTextBox"  onChange="fillSlots()" data-dojo-props="datePattern:'dd-MM-yyyy'"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="ttslot">Time Table Slot:</label>
				</td>
				<td>
				<select id="slots" name="slots" data-dojo-type="dijit/form/Select" onChange="fillStudents()">
				</select>
   			
				</td>
			</tr>
      		

		</table>
		<script >
		var data = {
          identifier: "id",
          items: []
        };
        </script>
		<span data-dojo-type="dojo.data.ItemFileWriteStore"
   			 data-dojo-id="stud_store">
		</span>

		
		<table data-dojo-type="dojox.grid.DataGrid" 
		data-dojo-props="store:stud_store", style="width: 520px; height: 250px;">
  			<thead>
    		<tr>
			      <th field="adm_no" width="160px">Adm No</th>
			      <th field="name" width="160px">Name</th>
			      <th field="status" width="160px">Present</th>
			    </tr>
			 </thead>
		</table>


		<button data-dojo-type="dijit/form/Button" type="submit" name="submitButton" value="Submit">Submit</button>
		<button data-dojo-type="dijit/form/Button" type="reset">Reset</button>

</div>

</body>
</html>



{% endblock %}
